@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
  color: #fbfbfbff;
}

.primary-b-gradient {
  @apply bg-gradient-to-r from-cyan-500 to-blue-500;
}


.primary-t-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-primary to-secondary
}

.secondary-t-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-light-1 to-light-2
}

.subtitle-p-1 {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-light-1 to-light-2 text-2xl font-bold
}

.subtitle-p-2 {
  @apply text-light-1 text-base font-semibold
}

.text-p-1 {
  @apply text-base font-medium text-light-2 leading-6
}

.text-p-2 {
  @apply text-sm font-medium text-light-2 leading-5
}

.down-arrow {
  @apply w-6 h-5 blinking-arrow group-hover:scale-110 transition-transform duration-300 object-cover
}



@media (min-width: 500px) {
  .grid-project-card {
    grid-template-columns: 1fr 2.5fr;
  }
}

.footer-gradient {
  position: absolute;
  width: 200px;
  height: 75px;
  background: linear-gradient(45deg, #8453ddff, #3d0aafff);
  filter: blur(100px);
  opacity: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.footer-gradient-md {
  position: absolute;
  width: 150px;
  height: 70px;
  left: 50%;
  bottom: 0;
  background: linear-gradient(45deg, #8453ddff, #3d0aafff);
  filter: blur(100px);
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 0.9;
  }
  25%, 75% {
    opacity: 0.05;
  }
}

@keyframes blinkColor {
  0%, 50%, 100% {
    background-color: #8453ddff;
  }
  25%, 75% {
    background-color: #3d0aafff;
  }
}

@keyframes move {
  0%, 50%, 100% {
    transform: translateY(0px);
  }
  25%, 75% {
    transform: translateY(4px);
  }
}

.blinking-arrow {
  animation: blink 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.blinking-color {
  animation: blinkColor 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.moving-arrow_container {
  animation: move 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1820;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(131, 83, 221, 0.25);
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #8453ddff;
  }
}